USE [master]
GO
/****** Object:  Database [StrukturyDanych]    Script Date: 14.07.2021 14:53:11 ******/
CREATE DATABASE [StrukturyDanych]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StrukturyDanych', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\StrukturyDanych.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StrukturyDanych_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\StrukturyDanych_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StrukturyDanych].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StrukturyDanych]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 14.07.2021 14:53:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AlphanumericKey] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Change]    Script Date: 14.07.2021 14:53:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Change](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ChangeDescription] [varchar](255) NULL,
	[ChangeDate] [datetime] NULL,
	[ProductID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ProductLastDateView]    Script Date: 14.07.2021 14:53:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ProductLastDateView] as
select Product.ID, Product.AlphanumericKey, MAX(Change.ChangeDate) as LastDate, COUNT(Change.ChangeDate) as ChangeCount
	from Product
	inner join Change on Product.ID = Change.ProductID
	group by Product.ID, Product.AlphanumericKey
GO
/****** Object:  Table [dbo].[ChangeTool]    Script Date: 14.07.2021 14:53:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeTool](
	[ID_Change] [int] NOT NULL,
	[ID_Tool] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tool]    Script Date: 14.07.2021 14:53:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tool](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AlphanumericKey] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Change]  WITH CHECK ADD  CONSTRAINT [FK_Change_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Change] CHECK CONSTRAINT [FK_Change_Product]
GO
ALTER TABLE [dbo].[ChangeTool]  WITH CHECK ADD  CONSTRAINT [FK_ChangeTool_Change] FOREIGN KEY([ID_Change])
REFERENCES [dbo].[Change] ([ID])
GO
ALTER TABLE [dbo].[ChangeTool] CHECK CONSTRAINT [FK_ChangeTool_Change]
GO
ALTER TABLE [dbo].[ChangeTool]  WITH CHECK ADD  CONSTRAINT [FK_ChangeTool_Tool] FOREIGN KEY([ID_Tool])
REFERENCES [dbo].[Tool] ([ID])
GO
ALTER TABLE [dbo].[ChangeTool] CHECK CONSTRAINT [FK_ChangeTool_Tool]
GO
USE [master]
GO
